
:root {
  --white: #ffffff;
  --LT4: #f0f1f5;
  --LT3: #e1e4ea;
  --LT2: #c3c8d5;
  --LT1: #a5adc0;
  --MID: #7883a1;
  --DK1: #5e6a87;	
  --DK2: #485167;
  --DK3: #343b4b;
  --DK4: #1f232d;
  --baseBG: #c3c8d5
}

/*
===================================================================================================================
===================================================================================================================
===================================================================================================================
-----------------------------------   Default formatting
===================================================================================================================
===================================================================================================================
===================================================================================================================
*/

h2 , h3, h4, h5, h6, p {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  line-height: 1;
  margin-bottom: 1px;
  margin-top: 1px;

}

body {
  overflow: scroll;
}

.FOOTER {
  height:300px;

}

h1 {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  margin: 0px;
  line-height: 1;
}
h2 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 18px;
  margin: 0px;
  line-height: 1;
}
h5 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
/*
===================================================================================================================
===================================================================================================================
===================================================================================================================
-----------------------------------   COLLAPSE BOXES
===================================================================================================================
===================================================================================================================
===================================================================================================================
*/

.collapsible {
  background-color: var(--DK3);
  color: var(--white);
  cursor: pointer;
  margin-top: 4px;
  padding-top: 4px;
  padding-right: 18px;
  padding-bottom: 4px;
  padding-left: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  align-self:start;
  
  border-style: outset;
  border-width: 2px;
  border-radius: 2px 15px 2px 2px;
  
  vertical-align: middle;
}
.collapsibleLV2 {

}

.collapsibleTHIN {
  padding: 2px;
}


.active, .collapsible:hover {
  background-color: var(--DK4);
}

.content {
  padding: 4px 16px 16px 8px;
  display: block;
  overflow: hidden;
  background-color: var(--LT4);
  margin: 0px 5px 0px 10px;
  border-style: solid;
  border-width: 0 2px 2px 2px;
  border-radius: 0 0 10px 10px ;
  border-color:var(--DK4);
  /*margin: 0px 5px 0px 10px;
  border-style: outset;
  border-width: 0 2px 2px 2px;
  border-radius: 0 0 10px 10px ;*/
}

.unlockableHidden {
  display: none;
}

.subColumnBox {
  padding: 0 18px;
  background-color: var(--LT1);
}
.contentLV3 {
  padding: 18px 18px;
  display: block;
  overflow: hidden;
  background-color: var(--LT1);
  margin: 0px 5px 0px 10px;
  
  border-style: solid;
  border-width: 0 2px 2px 2px;
  border-radius: 0 0 10px 10px ;
  border-color:var(--DK4);
  /*border-style: outset;
  border-width: 0 2px 2px 2px;
  border-radius: 0 0 10px 10px ;*/
}

.SliderSetHolder {
  background-color: var(--LT1);
  padding: 4px 4px 36px 4px;
  margin: 0px 4px 0px 4px;
  border-style: solid;
  border-width:  2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px ;
  border-color:var(--DK4);
  
}

.contentGrid3 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  /*grid-gap: 5px;*/
  padding: 1px;

}
.contentGridItem {
  background-color: var(--LT2);
  border: 1px solid var(--DK2);
  padding: 5px;
  text-align: left;
}

.contentGridItem1x1 {
  grid-area: span 1 / span 1
}
.contentGridItem2x1 {
  grid-area: span 2 / span 1
}
.contentGridItem1x2 {
  grid-area: span 1 / span 2
}

* {
  box-sizing: border-box;
}

/*
===================================================================================================================
===================================================================================================================
===================================================================================================================
-----------------------------------  SPECIAL:
===================================================================================================================
===================================================================================================================
===================================================================================================================
*/
/* Or make canvas and static fixed? */
#BACKGROUND_CANVAS {
  height:100%;
  width:100%;
  padding:0px;
  margin:0px;
  border: 0px solid transparent;
  position:relative;
}
#BACKGROUND_STATIC {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height:100%;
  background-color: var(--baseBG);
  opacity: 0.95;
  padding:0px;
  margin:0px;
}
#SCARETEXT {
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height:100%;
  margin: 0px;
  padding: 25% 0% 25% 25%;
  display: none;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 78px;
  line-height: 1;
  text-align: left;
  pointer-events: none;
  z-index:99999999;
  opacity:0.5;
}

#ALL_CONTENT_CONTAINER {
  position:absolute;
  top: 0px;
  left: 0px;
  padding:0px;
  margin:0px;
  background-color: transparent;
  opacity: 1;
}

.AI_CONSOLE_HOLDER {
  height:120px;
  background-color:#626262;
  padding: 2px 2px;
  margin: 4px 0px;
  border-style: outset;
  border-width: 5px;
  border-radius: 2px;
  position: relative;

}
.AI_CONSOLE {
  background-color:#626262;
  color:#1AFE01;
  font-family:Monospace;
  font-weight:bold;
  overflow:auto;
  padding: 0px 0px;
  margin: 0px 0px;
  height:100%;

}


.SETTINGS_BUTTON_HOLDER {
  position: absolute;
  top:0;
  right:25px;
}

.SETTINGS_BUTTON {
   /*border: 1px solid #1a1a1a;*/
   padding: 0px 0px;
   margin: 0px 0px;
   color: #000000;
   font-size: 28px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: top;
   opacity: 0.5;
   background: transparent;
   border: none;
   text-align: right;
   }


.SETTINGS_WINDOW {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto;  Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.SETTINGS_WINDOW_CONTENT {
  display: none; /* Hidden by default */
  z-index: 2; /* Sit on top */
  position:relative;
  top: 0;
  background-color: var(--LT1);
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 400px; /* Full width */
  height: 75%; /* Full height */
  border: 1px solid #888;
  overflow: auto;
}

/* The Close Button */
.SETTINGS_WINDOW_CLOSE {
  color: var(--LT4);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.SETTINGS_WINDOW_CLOSE:hover,
.SETTINGS_WINDOW_CLOSE:focus {
  color: var(--DK4);
  text-decoration: none;
  cursor: pointer;
}

/*
===================================================================================================================
===================================================================================================================
===================================================================================================================
-----------------------------------  COLUMNS
===================================================================================================================
===================================================================================================================
===================================================================================================================
*/


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 10000px; /* Should be removed. Only for demonstration */
}
.MAINGRID_CONTAINER {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 130px auto;
  grid-column-gap: 5px;
  padding: 8px 4px 8px 4px;
  background-color: transparent;
}
.MAINGRID_LT {
   grid-column: 1 / 2;
   grid-row: 1 / 4;
   align-self:start
}
.MAINGRID_RT {
   grid-column: 3 / 4;
   grid-row: 1 / 4;
}
.MAINGRID_CTR {
   grid-column: 2 / 3;
   grid-row: 2 / 4;
}
.MAINGRID_CONSOLE {
   grid-column: 2 / 3;
   grid-row: 1 / 2;
   max-height: 140px;
}
/* Clear floats after the columns 
.row:after {
  content: "";
  display: table;
  clear: both;
}*/


@media only screen and (max-width: 1200px) {
	.MAINGRID_LT {
	   grid-column: 1 / 2;
	   grid-row: 2 / 4;
	}
	.MAINGRID_RT {
	   grid-column: 3 / 4;
	   grid-row: 1 / 4;
	}
	.MAINGRID_CTR {
	   grid-column: 2 / 3;
	   grid-row: 2 / 4;
	}
	.MAINGRID_CONSOLE {
	   grid-column: 1 / 3;
	   grid-row: 1 / 2;
	}
}
@media only screen and (max-width: 1000px) {
	.MAINGRID_CONTAINER {
	  display: grid;
	  grid-template-columns: 50% 50%;
	}
	.MAINGRID_LT {
	   grid-column: 1 / 2;
	   grid-row: 2 / 4;
	}
	.MAINGRID_RT {
	   grid-column: 2 / 3;
	   grid-row: 3 / 4;
	}
	.MAINGRID_CTR {
	   grid-column: 2 / 3;
	   grid-row: 2 / 3;
	}
	.MAINGRID_CONSOLE {
	   grid-column: 1 / 3;
	   grid-row: 1 / 2;
	}
}
@media only screen and (max-width: 640px) {
	.MAINGRID_CONTAINER {
	  display: grid;
	  grid-template-columns: 100%;
	}
	.MAINGRID_LT {
	   grid-column: 1 / 2;
	   grid-row: 3 / 4;
	}
	.MAINGRID_RT {
	   grid-column: 1 / 2;
	   grid-row: 4 / 5;
	}
	.MAINGRID_CTR {
	   grid-column: 1 / 2;
	   grid-row: 2 / 3;
	}
	.MAINGRID_CONSOLE {
	   grid-column: 1 / 2;
	   grid-row: 1 / 2;
	}
}

/*
===================================================================================================================
===================================================================================================================
===================================================================================================================
-----------------------------------   SLIDER BARS
===================================================================================================================
===================================================================================================================
===================================================================================================================
*/

.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sliderFillBar {
  position: relative;
  width: 50%;
  height: 8px;
  border-radius: 0px;
  background: #1bba21;
  outline: none;
  opacity: 0.7;
  top: -15px;
  left: 0;
  pointer-events: none
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.multiPctSliderSuper {
  float: left;
  width: 100%;
  padding: 0px;
  vertical-align:middle
}

.multiPctSliderBox {
  float: left;
  width: 90%;
  padding: 0px;
  vertical-align:middle
}
.multiPctSliderHoldBox {
  float: left;
  vertical-align: middle;
  width: 9.9%;
  padding: 0px;
}
.multiPctSliderHoldBox:after {
  content: "";
  display: table;
  clear: both;
}
.multiPctSliderSuper:after {
  content: "";
  display: table;
  clear: both;
}

/*
===================================================================================================================
===================================================================================================================
===================================================================================================================
-----------------------------------   CHECK BOXES
===================================================================================================================
===================================================================================================================
===================================================================================================================
*/

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 1px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align:middle;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid var(--DK4);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*
-----------------------------------   Fake lock checkbox
*/

.lockedcheckmark {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #ff6060;
  vertical-align:middle
  margin: 0
  padding: 0
}
.lockedcheckmark:after {
  content: "";
  margin: 0
}

input[type=numEntry], select {
  width: 50px;
  padding: 3px 3px;
  margin: 2px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=unitEntry], select {
  width: 30px;
  padding: 3px 3px;
  margin: 2px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


/*
===================================================================================================================
===================================================================================================================
===================================================================================================================
-----------------------------------   BUTTONS
===================================================================================================================
===================================================================================================================
===================================================================================================================
*/


.button2 {
   border: 1px solid #1a1a1a;
   background: #666666;

   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
   background: -webkit-linear-gradient(top, #ffffff, #888888);
   background: -moz-linear-gradient(top, #ffffff, #888888);
   background: -ms-linear-gradient(top, #ffffff, #888888);
   background: -o-linear-gradient(top, #ffffff, #888888);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #888888 100%);

   padding: 2px 4px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #cccccc 0 1px 0;
   color: #000000;
   font-size: 11px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   outline: none;
   }

.button2:hover {
   border: 1px solid #898989;
   text-shadow: #d4d4d4 0 1px 0;
   background: #616161;

   background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#888888));
   background: -webkit-linear-gradient(top, #f7f7f7, #888888);
   background: -moz-linear-gradient(top, #f7f7f7, #888888);
   background: -ms-linear-gradient(top, #f7f7f7, #888888);
   background: -o-linear-gradient(top, #f7f7f7, #888888);
   background-image: -ms-linear-gradient(top, #f7f7f7 0%, #888888 100%);

   color: #000000;
   }

.button2:active {
   text-shadow: #bfbfbf 0 1px 0;
   border: 1px solid #2e2e2e;

   background: #d9d9d9;
   background: -webkit-gradient(linear, left top, left bottom, from(#595959), to(#616161));
   background: -webkit-linear-gradient(top, #595959, #d9d9d9);
   background: -moz-linear-gradient(top, #595959, #d9d9d9);
   background: -ms-linear-gradient(top, #595959, #d9d9d9);
   background: -o-linear-gradient(top, #595959, #d9d9d9);
   background-image: -ms-linear-gradient(top, #595959 0%, #d9d9d9 100%);

   color: #444444;
   }

.button2:disabled {
   opacity: 0.6;
   border: 1px solid #ffffff;
}


.button3 {
   border: 1px solid #1a1a1a;
   background: #666666;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
   background: -webkit-linear-gradient(top, #ffffff, #888888);
   background: -moz-linear-gradient(top, #ffffff, #888888);
   background: -ms-linear-gradient(top, #ffffff, #888888);
   background: -o-linear-gradient(top, #ffffff, #888888);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #888888 100%);
   padding: 0px 0px;
   margin: 0px 0px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #cccccc 0 1px 0;
   color: #000000;
   font-size: 11px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   outline: none;
   }

.button3:hover {
   border: 1px solid #898989;
   text-shadow: #d4d4d4 0 1px 0;
   background: #616161;

   background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#888888));
   background: -webkit-linear-gradient(top, #f7f7f7, #888888);
   background: -moz-linear-gradient(top, #f7f7f7, #888888);
   background: -ms-linear-gradient(top, #f7f7f7, #888888);
   background: -o-linear-gradient(top, #f7f7f7, #888888);
   background-image: -ms-linear-gradient(top, #f7f7f7 0%, #888888 100%);

   color: #000000;
   }

.button3:active {
   text-shadow: #bfbfbf 0 1px 0;
   border: 1px solid #2e2e2e;

   background: #d9d9d9;
   background: -webkit-gradient(linear, left top, left bottom, from(#595959), to(#616161));
   background: -webkit-linear-gradient(top, #595959, #d9d9d9);
   background: -moz-linear-gradient(top, #595959, #d9d9d9);
   background: -ms-linear-gradient(top, #595959, #d9d9d9);
   background: -o-linear-gradient(top, #595959, #d9d9d9);
   background-image: -ms-linear-gradient(top, #595959 0%, #d9d9d9 100%);

   color: #444444;
   }

.button3:disabled {
   opacity: 0.6;
   border: 1px solid #ffffff;
}


/*
===================================================================================================================
===================================================================================================================
-----------------------------------   PLANET CONSTRUCTION CONTROL PANEL
===================================================================================================================
===================================================================================================================
*/

.buildCtrlPanel {
  display: grid;
  grid-template-columns: 25px 25px 25px 25px 25px 25px auto;
  grid-gap: 1px;
  background-color: var(--MID);
  padding: 1px;
  margin: 4px 0px 4px 0px;
  border-style: solid;
  border-color: var(--DK4);
  border-width: 2px;
  border-radius: 2px;
}


.buildCtrlPanel > div {
  background-color: var(--MID);
  text-align: center;
  padding: 2px 0;
  font-size: 14px;
  border: 1px dotted gray;
  grid-area: span 2 / span 1;
}
.buildCtrlPanel .ctrlPanelTopLine {
  grid-area: span 1 / span 7;
  border-width: 0px 0px 1px 0px;
  border-style: dotted;
  border-color: var(--DK4);
  background-color: var(--DK3);
  padding: 2px 2px;
  color: var(--LT4);
}
.buildCtrlPanel .button2 {
  grid-area: span 2 / span 1
}
.buildCtrlPanel .button3 {
  grid-area: span 1 / span 1
}
.buildCtrlPanel::after {
  content: "";
  clear: both;
  display: table;
}

/*
===================================================================================================================
===================================================================================================================
-----------------------------------   TOOLTIPS
===================================================================================================================
===================================================================================================================
*/


.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip .right {
    min-width:200px; 
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -25%);
    padding:10px 20px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip:hover .right {
    display:block;
}

.tooltip .right i {
    position:absolute;
    top:25%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}














